@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@font-face {
  font-family: 'papyrus';
  src: url("/fonts/papyrus.ttf");
}

@font-face {
  font-family: 'ayuthaya';
  src: url("/fonts/Ayuthaya.ttf");
}

bg-class{
  background-image: url("/images/bg.jpg");
}